/* blues - 9FB9F6, 6490F3, 2E6AF3, 034BF1 */
/* greens - A1D19C, 7EBD77, 5DA955, 3C9233 */

/* difference colors - rgb(210, 255, 0), #FCB40E */

.App{
  scroll-behavior: smooth;
}

/* variable definitions */

:root {
  --blue: #034BF1;
  --blue-fade: #2E6AF3;
  --blue-inverted: #FCB40E;
}

/* menu styling */

#menu{
  position:fixed;
  top:0;
  left:0;
  height: calc(100vh - 10rem);
  display:flex;
  flex-direction: column;
  padding: 5rem;
  z-index: 3;
  mix-blend-mode: difference;
}

#divider{
  position:absolute;
  top:calc(38px + 5rem + 22px + 3rem);
  right:20px;
  height:360px;
  width:.5px;
  background-color: white;
}

.link-wrap-header{
  padding-top:3rem;
  padding-bottom:1.5rem;
  margin-bottom: 0;
}

.link-wrap{
  padding-bottom:1.5rem;
}

.link, .parent-link.active{
  color:white;
  text-decoration: none;
}

.link:hover,#title:hover{
  color:var(--blue-inverted);
}

#title{
  font-style: italic;
}

.active, #title.active{
  font-style: italic;
  color:var(--blue-inverted);
}

/* general page styling */

.page{
  display: flex;
  justify-content: center;
  height: 100vh;
  padding-left:calc(247.4px + 6.5rem);
  background: white;
  position:relative;
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 100;
}

.content{
  padding:40px 6.5rem 6.5rem 0rem;
  display:flex;
  flex-direction: column;
  align-items: flex-end;
  position:relative;
  width:100%;
 }

.title{
  font-size: 6.5rem;
  line-height: 60px;
  padding-bottom: 3.8rem;
}

/* landing styling */

#landing{
  position:relative;
  background-color: white;
  font-size: 2.5rem;
  padding-top:0;
  padding-bottom:0;
}

#landing-content{
  padding-top:6.5rem;
  overflow: hidden;
  align-items: center;
}

#landing-caption{
  padding-top:1.5rem;
  padding-bottom:3rem;
}

#landing-img{
  object-fit: cover;
  height:700px;
  width:100%;
}

.wave {
  position: absolute;
  bottom:-1px;
  background: none;
  color: #FFF;
  text-align: center;
  overflow: hidden;
  width:100%;
}

.wave > svg {
  display: block;
}

#work{
  color:white;
  background-blend-mode: screen;
  background:var(--blue-fade);
}

#about{
  color:black;
}

#resume{
  color:white;
  background:var(--blue-fade);

}

#contact{
  color:black;
  padding: 0rem;
}

#contact-content{
  padding:40px 6.5rem 60px calc(247.4px + 6.5rem);
}

#contact-caption{
  padding-bottom:6.5rem;
}

#form-wrapper{
  position: absolute;
  bottom:0;
  height:78.5%;
  left:calc(247.4px + 6.5rem);
  right:6.5rem;
  border-radius: 20px 20px 0 0;
  background: rgb(242, 242, 242);
  padding:5px 60px;
  font-size: 2rem;
}

#address{
  position:absolute;
  top:56px;
  right:6.5rem;
  text-align: right;
  z-index: 1;
  font-size: 1.75rem;
}

#address-name{
  color:var(--blue-fade);
  font-style: italic;
  font-size: 3.3rem;
  padding-bottom:15px;
}

.page-link{
  color:black;
  text-decoration: none;
}

.page-link:hover{
  color:var(--blue-fade);
}

#contact-form{
  width:100%;
}

#form-spacer{
  position:relative;
  width: 100%;
  height:100%;
}

#form {
  position:absolute;
  top:0px;
  width:100%;
  height:85%;
  color: black;
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.input-wrap{
  padding:1rem 0;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  font: inherit;
  transition: transform 0.3s ease-in-out, font-size 0.3s ease-in-out, visibility 0.3s ease-in-out;
}
input, textarea {
  cursor: text;
  font: inherit;
  width: 35%;
  min-width: 130px;
  display: block;
  border: none;
  padding: 40px 0 10px;
  border-bottom: solid 1px var(--blue-fade);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, var(--blue-fade) 4%);
  background-position: -400px 0;
  background-size: 400px 100%;
  background-repeat: no-repeat;
  transition: background 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  resize: none;
  overflow: hidden;
  background-position: -400px 0;
  background-size: 400px 100%;
}
textarea{
  width:100%;
  resize: none;
  background-position: -1080px 0;
  background-size: 100%;
}
input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
  color: var(--blue-fade);
}
input:focus, textarea:focus{
  box-shadow: none;
  outline: none;
  background-position: 0 0;
}
input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder, input:valid::-webkit-input-placeholder, textarea:valid::-webkit-input-placeholder {
  transform: translateY(-3.2rem);
  visibility: visible !important;
  opacity: 1;
}
input[type="email"] {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, var(--blue-fade) 4%);
  background-position: -400px 0;
  background-repeat: no-repeat;
  transition: border-bottom 0.3s ease, background 0.3s ease;
}
input[type="email"] ~ span.validation-text {
  position: absolute;
  visibility: hidden;
  font-size: 1.5rem;
  width: 400px;
  margin-left: 0px;
  margin-top: 5px;
  color: white;
  transition: color 0.3s ease-in-out;
}
input[type="email"]:not([value=""])::-webkit-input-placeholder {
  transform: translateY(-3.2rem);
  visibility: visible !important;
  opacity: 1;
}
input[type="email"]:not([value=""]):focus::-webkit-input-placeholder {
  color: var(--blue-fade);
}
input[type="email"]:not([value=""]):focus:not(:valid)::-webkit-input-placeholder {
  color: #ff9100;
}
input[type="email"]:focus{
  background-position: 0 0;
}
input[type="email"]:focus:not(:valid):not([value=""]) {
  border-bottom: solid 1px #ff9100;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #ff9100 4%);
}
input[type="email"]:not(:focus):not(:valid):not([value=""]) {
  border-bottom: solid 1px #ff9100;
  background-position: 0 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #ff9100 4%);
}
input[type="email"]:not(:focus):not(:valid):not([value=""])::-webkit-input-placeholder {
  color: #ff9100;
}
input[type="email"]:not(:focus):not(:valid):not([value=""]) ~ span.validation-text {
  visibility: visible;
  color: #ff9100;
}
.flex {
  display: flex;
  align-items: stretch;
}
.flex textarea {
  line-height: 120%;
  resize:none;
}

#contact-button {
  transition: transform 0.2s cubic-bezier(0.64, 0.09, 0.08, 1), box-shadow 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
  border: none;
  background: var(--blue-fade);
  cursor: pointer;
  border-radius: 20px;
  padding: 2px;
  height: 35px;
  width: 35%;
  min-width: 130px;
  color: white;
  font:inherit;
  margin: 10px 0;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
}

#contact-button:hover {
  transform: translateY(-4px);
  box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.2);
}

#footer{
    position: absolute;
    bottom:0;
    height: 80px;
    width: 100%;
    background:var(--blue-fade);
}

.awssld__container figure, .awssld__content, .awssld__box {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; }
  
  .awssld__controls button, .awssld__bullets button {
    outline-color: 0;
    outline-style: none;
    outline-width: 0; }
  
  .awssld {
    --loader-bar-color:#ffffff;
    --loader-bar-height: 6px;
    --control-button-width: 10%;
    --control-button-height: 25%;
    --control-button-opacity: 0.5;
    --control-button-hover-opacity: 0.75;
    --transition-bezier: cubic-bezier(0.5, 0.075, 0.25, 0.95);
    --organic-arrow-color: #ffffff;
    --control-bullet-color: #ffffff70;
    --control-bullet-active-color: #ffffff;
    --content-background-color: transparent;
    --slider-height-percentage: 65vh;
    --slider-transition-duration: 380ms;
    --organic-arrow-thickness: 3px;
    --organic-arrow-border-radius: 20px;
    --organic-arrow-height: 20px;
    --control-button-background: transparent;
  }
  
  .awssld {
    display: block;
    position: relative;
    width: 100%;
    max-width: 100%; }
    .awssld__wrapper {
      display: block;
      overflow: hidden;
      position: relative;
      height: 100%;
      width: 100%; }
    .awssld__container {
      display: block;
      width: 100%;
      height: 0;
      padding-bottom: var(--slider-height-percentage); }
      @media all and (max-width: 500px) {
        .awssld__container {
          padding-bottom: calc(var(--slider-height-percentage) * 1.25); } }
    .awssld__startUp {
      background-color: red;
      height: 100%;
      width: 100%; }
      .awssld__startUp > div {
        height: 100%;
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; }
      .awssld__startUp img {
        width: 35%;
        height: auto; }
    .awssld__content {
      background-color: var(--content-background-color);
      overflow: hidden;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
      .awssld__content > img,
      .awssld__content > video {
        -o-object-fit: cover;
           object-fit: cover;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0; }
    .awssld__controls button {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      width: var(--control-button-width);
      height: var(--control-button-height);
      position: absolute;
      z-index: 10;
      top: calc(50% - (0.5 * var(--control-button-height)));
      border: none;
      background-color: var(--control-button-background);
      color: #fff;
      cursor: pointer; }
      .awssld__controls button .awssld__controls__arrow-left,
      .awssld__controls button .awssld__controls__arrow-right {
        opacity: var(--control-button-opacity); }
      .awssld__controls button:hover .awssld__controls__arrow-left,
      .awssld__controls button:hover .awssld__controls__arrow-right {
        opacity: var(--control-button-opacity-hover); }
    .awssld__controls--active .awssld__controls__arrow-left {
      opacity: var(--control-button-opacity-hover);
      -webkit-transform: translate3d(-100%, 0, 0);
              transform: translate3d(-100%, 0, 0); }
    .awssld__controls--active .awssld__controls__arrow-right {
      opacity: var(--control-button-opacity-hover);
      -webkit-transform: translate3d(100%, 0, 0);
              transform: translate3d(100%, 0, 0); }
    .awssld__controls--hidden {
      display: none; }
    @media all and (max-width: 520px) {
      .awssld__controls {
        visibility: hidden; } }
    .awssld__bar {
      display: block;
      width: 100%;
      height: var(--loader-bar-height);
      background-color: var(--loader-bar-color);
      position: absolute;
      top: 0;
      left: 0;
      z-index: 101;
      -webkit-transition: -webkit-transform 3000ms var(--transition-bezier);
      transition: -webkit-transform 3000ms var(--transition-bezier);
      transition: transform 3000ms var(--transition-bezier);
      transition: transform 3000ms var(--transition-bezier), -webkit-transform 3000ms var(--transition-bezier);
      -webkit-transform: translate3d(-100%, 0, 0);
              transform: translate3d(-100%, 0, 0); }
      .awssld__bar--active {
        -webkit-transform: translate3d(-20%, 0, 0);
                transform: translate3d(-20%, 0, 0); }
      .awssld__bar--end {
        -webkit-transition-duration: 300ms;
                transition-duration: 300ms;
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0); }
    .awssld__next {
      right: 0; }
    .awssld__prev {
      left: 0; }
    .awssld__box {
      z-index: 1;
      visibility: hidden; }
    .awssld--animated {
      will-change: transform;
      visibility: visible; }
    .awssld--animated-mobile {
      will-change: transform;
      -webkit-transition: -webkit-transform 325ms cubic-bezier(0.15, 0.65, 0.1, 1);
      transition: -webkit-transform 325ms cubic-bezier(0.15, 0.65, 0.1, 1);
      transition: transform 325ms cubic-bezier(0.15, 0.65, 0.1, 1);
      transition: transform 325ms cubic-bezier(0.15, 0.65, 0.1, 1), -webkit-transform 325ms cubic-bezier(0.15, 0.65, 0.1, 1); }
    .awssld--active {
      visibility: visible;
      z-index: 2;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0); }
    .awssld--moveRight, .awssld--moveLeft {
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden; }
    .awssld--moveRight {
      -webkit-animation: slideFromRight var(--slider-transition-duration) both var(--transition-bezier);
              animation: slideFromRight var(--slider-transition-duration) both var(--transition-bezier); }
    .awssld--moveLeft {
      -webkit-animation: slideFromLeft var(--slider-transition-duration) both var(--transition-bezier);
              animation: slideFromLeft var(--slider-transition-duration) both var(--transition-bezier); }
    .awssld--exit {
      z-index: 0; }
      .awssld--exit.awssld--moveLeft {
        -webkit-animation: slideToLeft var(--slider-transition-duration) both var(--transition-bezier);
                animation: slideToLeft var(--slider-transition-duration) both var(--transition-bezier); }
      .awssld--exit.awssld--moveRight {
        -webkit-animation: slideToRight var(--slider-transition-duration) both var(--transition-bezier);
                animation: slideToRight var(--slider-transition-duration) both var(--transition-bezier); }
    .awssld--first .awssld__prev {
      visibility: hidden; }
    .awssld--last .awssld__next {
      visibility: hidden; }
    .awssld--fill-parent {
      position: absolute !important;
      width: 100% !important;
      height: 100% !important;
      top: 0;
      left: 0; }
      .awssld--fill-parent .awssld__container {
        height: 100%;
        padding: 0; }
    .awssld__bullets {
      position: absolute;
      bottom: -40px;
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
      .awssld__bullets button {
        padding: 0;
        display: block;
        width: 16px;
        height: 16px;
        margin: 5px;
        border-radius: 50%;
        background: var(--control-bullet-color);
        text-indent: -9999px;
        overflow: hidden;
        cursor: pointer;
        border: none;
        -webkit-transition: background-color 0.175s ease-out, -webkit-transform 0.225s cubic-bezier(0.8, 1.35, 0.75, 1.45);
        transition: background-color 0.175s ease-out, -webkit-transform 0.225s cubic-bezier(0.8, 1.35, 0.75, 1.45);
        transition: transform 0.225s cubic-bezier(0.8, 1.35, 0.75, 1.45), background-color 0.175s ease-out;
        transition: transform 0.225s cubic-bezier(0.8, 1.35, 0.75, 1.45), background-color 0.175s ease-out, -webkit-transform 0.225s cubic-bezier(0.8, 1.35, 0.75, 1.45); }
        .awssld__bullets button:hover {
          -webkit-transform: scale(1.2);
                  transform: scale(1.2); }
      .awssld__bullets .awssld__bullets--loading {
        -webkit-transform: scale(1.2);
                transform: scale(1.2); }
      .awssld__bullets .awssld__bullets--active {
        -webkit-transform: scale(1.5);
                transform: scale(1.5);
        background: var(--control-bullet-active-color); }
        .awssld__bullets .awssld__bullets--active:hover {
          -webkit-transform: scale(1.5);
                  transform: scale(1.5); }
    .awssld__controls__arrow-left, .awssld__controls__arrow-right {
      width: 100%;
      height: var(--organic-arrow-height);
      position: relative;
      display: block;
      -webkit-transition: opacity 0.2s ease-out, -webkit-transform 0.2s ease-out 0.125s;
      transition: opacity 0.2s ease-out, -webkit-transform 0.2s ease-out 0.125s;
      transition: transform 0.2s ease-out 0.125s, opacity 0.2s ease-out;
      transition: transform 0.2s ease-out 0.125s, opacity 0.2s ease-out, -webkit-transform 0.2s ease-out 0.125s; }
      .awssld__controls__arrow-left:before, .awssld__controls__arrow-left:after, .awssld__controls__arrow-right:before, .awssld__controls__arrow-right:after {
        content: ' ';
        position: absolute;
        right: calc( 50% - ( 0.7071 * (var(--organic-arrow-height) + var(--organic-arrow-thickness)) ) / 2);
        height: 100%;
        border-radius: var(--organic-arrow-border-radius);
        width: var(--organic-arrow-thickness);
        background-color: var(--organic-arrow-color);
        -webkit-transition: background-color 0.15s ease-out, -webkit-transform 0.15s ease-out;
        transition: background-color 0.15s ease-out, -webkit-transform 0.15s ease-out;
        transition: transform 0.15s ease-out, background-color 0.15s ease-out;
        transition: transform 0.15s ease-out, background-color 0.15s ease-out, -webkit-transform 0.15s ease-out; }
      .awssld__controls__arrow-left:before, .awssld__controls__arrow-right:before {
        -webkit-transform-origin: 100% 100% 0;
                transform-origin: 100% 100% 0;
        top: -50%;
        -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg); }
      .awssld__controls__arrow-left:after, .awssld__controls__arrow-right:after {
        -webkit-transform-origin: 100% 0% 0;
                transform-origin: 100% 0% 0;
        top: 50%;
        -webkit-transform: rotate(45deg);
                transform: rotate(45deg); }
    .awssld__controls__arrow-right--active {
      -webkit-transform: translate3d(100%, 0, 0);
              transform: translate3d(100%, 0, 0); }
      .awssld__controls__arrow-right--active:after {
        -webkit-transform: rotate(90deg) translate3d(50%, 0, 0) !important;
                transform: rotate(90deg) translate3d(50%, 0, 0) !important; }
      .awssld__controls__arrow-right--active:before {
        -webkit-transform: rotate(-90deg) translate3d(50%, 0, 0) !important;
                transform: rotate(-90deg) translate3d(50%, 0, 0) !important; }
    .awssld__controls__arrow-left:before, .awssld__controls__arrow-left:after {
      right: auto;
      left: calc( 50% - ( 0.7071 * (var(--organic-arrow-height) + var(--organic-arrow-thickness)) ) / 2); }
    .awssld__controls__arrow-left:before {
      -webkit-transform-origin: 0 100% 0;
              transform-origin: 0 100% 0;
      top: -50%;
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg); }
    .awssld__controls__arrow-left:after {
      -webkit-transform-origin: 0 0 0;
              transform-origin: 0 0 0;
      top: 50%;
      -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg); }
    .awssld__controls__arrow-left--active {
      -webkit-transform: translate3d(-100%, 0, 0);
              transform: translate3d(-100%, 0, 0); }
      .awssld__controls__arrow-left--active:after {
        -webkit-transform: rotate(-90deg) translate3d(-50%, 0, 0) !important;
                transform: rotate(-90deg) translate3d(-50%, 0, 0) !important; }
      .awssld__controls__arrow-left--active:before {
        -webkit-transform: rotate(90deg) translate3d(-50%, 0, 0) !important;
                transform: rotate(90deg) translate3d(-50%, 0, 0) !important; }
    .awssld__controls button:hover .awssld__controls__arrow-left:before {
      opacity: 1;
      -webkit-transform: rotate(30deg);
              transform: rotate(30deg); }
    .awssld__controls button:hover .awssld__controls__arrow-left:after {
      opacity: 1;
      -webkit-transform: rotate(-30deg);
              transform: rotate(-30deg); }
    .awssld__controls button:hover .awssld__controls__arrow-right:before {
      opacity: 1;
      -webkit-transform: rotate(-30deg);
              transform: rotate(-30deg); }
    .awssld__controls button:hover .awssld__controls__arrow-right:after {
      opacity: 1;
      -webkit-transform: rotate(30deg);
              transform: rotate(30deg); }
    .awssld__timer {
      --timer-delay: 2000ms;
      --timer-release: 200ms;
      --timer-height: 4px;
      --timer-background-color: rgba(0, 0, 0, 0.15);
      width: 100%;
      height: var(--timer-height);
      background-color: var(--timer-background-color);
      position: absolute;
      top: 0;
      left: 0;
      z-index: 100;
      -webkit-transform: translateX(-100%);
              transform: translateX(-100%); }
      .awssld__timer--animated {
        will-change: transform;
        -webkit-transition: -webkit-transform var(--timer-delay) linear;
        transition: -webkit-transform var(--timer-delay) linear;
        transition: transform var(--timer-delay) linear;
        transition: transform var(--timer-delay) linear, -webkit-transform var(--timer-delay) linear; }
      .awssld__timer--run {
        -webkit-transform: translateX(0);
                transform: translateX(0); }
      .awssld__timer--fast {
        -webkit-transition: -webkit-transform calc(var(--timer-release) / 2) linear;
        transition: -webkit-transform calc(var(--timer-release) / 2) linear;
        transition: transform calc(var(--timer-release) / 2) linear;
        transition: transform calc(var(--timer-release) / 2) linear, -webkit-transform calc(var(--timer-release) / 2) linear;
        -webkit-transform: translateX(-0.00001px);
                transform: translateX(-0.00001px); }
      .awssld__timer--end {
        -webkit-transform: translateX(-0.0001px);
                transform: translateX(-0.0001px);
        -webkit-transition: -webkit-transform var(--timer-release) linear;
        transition: -webkit-transform var(--timer-release) linear;
        transition: transform var(--timer-release) linear;
        transition: transform var(--timer-release) linear, -webkit-transform var(--timer-release) linear; }
      .awssld__timer--hidden {
        display: none; }
  
  @-webkit-keyframes slideFromLeft {
    from {
      -webkit-transform: translate3d(-100%, 0, 0);
              transform: translate3d(-100%, 0, 0); }
    to {
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0); } }
  
  @keyframes slideFromLeft {
    from {
      -webkit-transform: translate3d(-100%, 0, 0);
              transform: translate3d(-100%, 0, 0); }
    to {
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0); } }
  
  @-webkit-keyframes slideFromRight {
    from {
      -webkit-transform: translate3d(100%, 0, 0);
              transform: translate3d(100%, 0, 0); }
    to {
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0); } }
  
  @keyframes slideFromRight {
    from {
      -webkit-transform: translate3d(100%, 0, 0);
              transform: translate3d(100%, 0, 0); }
    to {
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0); } }
  
  @-webkit-keyframes slideToLeft {
    from {
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0); }
    to {
      -webkit-transform: translate3d(-100%, 0, 0);
              transform: translate3d(-100%, 0, 0); } }
  
  @keyframes slideToLeft {
    from {
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0); }
    to {
      -webkit-transform: translate3d(-100%, 0, 0);
              transform: translate3d(-100%, 0, 0); } }
  
  @-webkit-keyframes slideToRight {
    from {
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0); }
    to {
      -webkit-transform: translate3d(100%, 0, 0);
              transform: translate3d(100%, 0, 0); } }
  
  @keyframes slideToRight {
    from {
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0); }
    to {
      -webkit-transform: translate3d(100%, 0, 0);
              transform: translate3d(100%, 0, 0); } }
  
  