/* blues - 9FB9F6, 6490F3, 2E6AF3, 034BF1 */
/* greens - A1D19C, 7EBD77, 5DA955, 3C9233 */

.App{
    
}

/* menu styling */

#menu{
    position:fixed;
    top:0;
    left:0;
    height: calc(100vh - 10rem);
    display:flex;
    flex-direction: column;
    padding: 5rem;
    z-index: 3;
    mix-blend-mode: difference;
}

#divider{
    position:absolute;
    top:calc(38px + 5rem + 22px + 3rem);
    right:20px;
    height:360px;
    width:.5px;
    background-color: white;
}

.link-wrap-header{
    padding-top:3rem;
    padding-bottom:1.5rem;
    margin-bottom: 0;
}

.link-wrap{
    padding-bottom:1.5rem;
}

.link{
    color:white;
    text-decoration: none;
}

.link:hover{
    color:#FCB40E;
}

#title, #title:visited{
    font-style: italic;
    color:rgb(252,180,14);
}

/* general page styling */

.page{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    height: 100vh;
    padding:6.5rem;
    padding-left:calc(247.4px + 6.5rem);
    background: white;
 }

.content{
    display:flex;
    flex-direction: column;
    align-items: center;
 }

 /* landing styling */

#landing{
    position:relative;
    background-color: white;
    font-size: 2.5rem;
    padding-top:0;
    padding-bottom:0;
}

#landing-content{
    padding-top:6.5rem;
    overflow: hidden;
}

#landing-caption{
    padding-top:1.5rem;
    padding-bottom:3rem;
}

#landing-img{
    object-fit: cover;
    height:559px;
    width:100%;
}

#work{
    background-blend-mode: screen;
    background: rgb(3,75,241);
}

#about{
}

#resume{
    background: rgb(3,75,241);
}

#contact{
}
