/* header {
    background: #161415 url(./header.jpg) no-repeat top center;
    background-size: cover !important;
      -webkit-background-size: cover !important;
}
  
.portfolio-modal {
    padding: 25px;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
  
.react-pdf__Page__canvas{
    margin:0 auto;
    max-width:100vw;
    max-height:141vw;
    box-shadow: 3px 4px 24px -4px rgba(117,117,117,1);
}
  
.resume-link{
    display: flex;
    justify-content: center;
}   */